body{
  margin: 0;
  background: linear-gradient( black, #9DFB2B);
  background-repeat: no-repeat;
  height:100%;

}
@font-face {
  font-family: Indie Flower;

}
header{

  font-family: Indie Flower;
  font-size: 35px;
}

header h1{
  margin: 0;
  color: #9DFB2B;
  text-align: center;

  }
  .list-container{
    padding-left: 38%;
    padding-bottom: 100%;

  }
  .picture-container{
    padding-left:20%;

  }
  div ul li{
    color: #9DFB2B;
  }
  nav ul{
    text-align: center;
    margin:0;
    padding: 0;

  }
  nav ul li{
    display: inline;
    list-style-type: none;
    


  }

img{
    height:auto;
    display: block;
    margin: auto;
    width: 40%;
}

a {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;

}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 8px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

footer{
    text-align: right;
    color: blue;
}
